<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://testing-pad.com">
      Testing Pad
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>

      <a class="navbar-item">
        Pricing
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Testing
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            Accessibility
          </a>
          <a class="navbar-item">
            Mobile App Testing
          </a>
          <a class="navbar-item">
            Cross Browser Testing
          </a>
          <a class="navbar-item">
            Usability Testing
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-info" href="/register">
            <strong>Get paid to test!</strong>
          </a>
          <a class="button is-primary" href="/register">
            <strong>Test My Site</strong>
          </a>
          <a class="button is-light" hred="/login">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>




<section></section>

<section class="section">
  <div class="container">
  </div>
  <div class="container">
    <div class="columns">
      <div class="column is-12">
        <div class="content">
          <h3 class="title is-3">Accessibility</h3>
          <p></p>
          <h4 class="title is-4">What is Accessibility?</h4>
          <p></p>
          <h4 class="title is-4">Why is Accessibility mportant?</h4>
          <p></p>
          <h4 class="title is-4">Do i need accessibility?</h4>
          <p></p>
          <h4 class="title is-4">Quick Test of my Accessibility</h4>
          <p> Use this form to test accessibility</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container" id="notifications">
    <div class="notification is-success" *ngIf="resultsLists.pass > 0">
      Congratulations You have <strong> {{resultsLists.pass}}</strong> passed tests !
    </div>
    <div class="notification is-danger" *ngIf="resultsLists.fail > 0">
      You have <strong> {{resultsLists.fail}}</strong> Failed Tests
    </div>
    <div class="notification is-light" *ngIf="resultsLists.na > 0">
      You have <strong> {{resultsLists.na}}</strong> tests that were marked as NA
    </div>
  </div>

  <div class="container">
    <div class="columns">
      <div class="column is-12">
        <div class="field">
          <label class="label">Website</label>
          <div class="control">
            <input class="input is-large" type="text" placeholder="Text input" [(ngModel)]="website">
          </div>
        </div>
        <div class="field">
          <div class="control">
            <button class="button is-info is-large is-fullwidth"(click)="getAccessibility()" [disabled]="pendingAccessibilityTest" [class.is-loading]="pendingAccessibilityTest">Validate Accessibility</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" *ngIf="results.length > 0">
    <div class="columns">
      <div class="column is-12">
        <h3 class="title is-3">Results</h3>

        <div class="card" *ngFor="let result of results">

          <header class="card-header">
            <p class="card-header-title">
              <strong>Result: </strong>{{ result.result}}
            </p>
          </header>

          <div class="card-content">

            <div class="content">
              {{result.heading}}
              <a href="{{result.url}}">{{result.code}}</a>
              <br>
              <div class="control">
                <div class="tags has-addons">
                  <span class="tag is-dark">Severity</span>
                  <span class="tag " [ngClass]="{'is-danger': result.severity === 'Severe', 'is-warning': result.severity === 'Warning'}">{{result.severity}}</span>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>

</section>


<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Testing Pad</strong> by <a href="https://genisystemstech.com">Genisystems / HPTP Design LLC</a>. 
    </p>
  </div>
</footer>
